
proj_elec/.DS_Store
proj_dogs/.DS_Store
proj_fires/.DS_Store
proj_flu/.DS_Store
proj_ks/.DS_Store
proj_lemonade/.DS_Store
proj_manhattan/.DS_Store
proj_run/.DS_Store
proj_tweets/.DS_Store
proj_abortion/.DS_Store
proj_airbnb/.DS_Store
about/.DS_Store
icons/.DS_Store
.DS_Store
.htaccess
proj_olympics/.DS_Store
proj_olympics/.DS_Store
.Rproj.user
proj_happy/javascript/node_modules/*
license-plates-master/src/node_modules/*
license-plates-master/src/.cache/*
