* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  /* font-family: 'Roboto Slab', serif; */
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.notbold {
    font-weight: 400;
}​

a, a:link, a:visited  {
  color: #355764;
  font-weight: normal;
}
/* not working */
a:hover {
  color: #355764;
}


.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
/* .column {
    -ms-flex: 33.3%; /* IE 10 */
    /* flex: 33.3%;
    padding: 0 4px; */
/* } */

.column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.fancy-header {
  background-image: url('teal.jpg');
  padding: 4em 0;
}

.text-header h1 {
  text-align: center;
  background: transparent;
  color: black;
  font-size: 5em;
  position: relative;
}

.fancy-header-article {
  background-color: url('../teal.jpg');
  padding: 3em 0;
}

.text-article h1 {
  background: transparent;
  color: black;
  display: inline;
  line-height: 0.3;
  font-size: 3em
}

.text-article-white h1 {
  background: transparent;
  color: white;
  display: inline;
  line-height: 0.3;
  font-size: 3.5em
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p.about {
    margin: 30px 150px 30px;
    /* text-align: center; */
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Backgrounds */
.background-lemon {
  background-image: url('lemonade.jpg');
  background-size: cover;
  opacity: 1;
}

.background-fire {
  background-image: url('fire.jpg');
  background-size: cover;
  opacity: 1;
}

.background-teal {
  background-image: url('teal.jpg');
  background-size: cover;
  opacity: 0.9;
}

.background-pink {
  background-image: url('./proj_bachelor/rose.jpg');
  background-size: cover;
  opacity: 0.9;
}
/* Hovering */
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}


.image-container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.8em
}

.content {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 10;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image {
  width: 100%;
  white-space: nowrap;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.9em;
}

.fadeIn-bottom{
  top: 80%;
}


.navbar-nav > li {
  float: none;
  position: relative;
  text-align: center;
}
.navbar-light .navbar-nav .active a::after {
  border-bottom: 5px solid #355764;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

/* #355764 */
/* #699286 */
/* Footer  */
.footer {
  background: #A7AABC;
}

.footer p {
  margin-bottom: 3px;
}

.footer .container {
  padding: 35px 0;
}

.about .container {
  padding: 30px 0;
}


/* STICKY */
svg {
  /* display: inline;
  margin: auto; */
  /* This centers the svg */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

img.block {
  display: block;
  border: solid #333 1p;
  margin: 0 auto;
}
/*
svg {
  margin-bottom: 15px;
} */

.step {
  padding-bottom: 90px;
  margin-bottom: 10px;
}

.step, .row {
  padding-top: 2rem;
}

.step:last-of-type {
  padding-bottom: 150px;
}


/* .active {
  background: beige;
} */


/*
  The following allows us to make the graphic
  "sticky" to the top of the page. The "top"
  attribute should probably be the same as
  the offset for scrollama (but % instead of decimal)
*/

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  height: fit-content;
  /* IF YOU CHANGE THIS CHANGE THE JAVASCRIPT NEAR THE BOTTOM */
  top: 33%;
}

img {
  max-width: 100%;
}

/*

/* TOOLTIP */
  div#tooltip {
  position: absolute;
  /*display: inline-block;*/
  /* font-weight: bold; */
  font-size: 10px;
  padding: 9px;
  color: black;
  background-color: rgba(200, 247, 234, 0.8)
  visibility: hidden;/* is changed on action */
  border-radius: 1px;
    pointer-events: none;
  z-index: 1;
}
