* {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  /* font-family: 'Roboto Slab', serif; */
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}


.notbold {
  font-weight: 400;
}

​ a, a:link, a:visited {
  color: #355764;
  font-weight: normal;
}

a:hover {
  color: #355764;
}

.zoom {
  zoom: 120%;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* photo grid */
.items {
  width: 100%;
}

.items-grid {
  width: 246px;
  margin: 5px;
  /* float: left; */
}

.items img {
  filter: grayscale(85%) brightness(105%) saturate(80%);
  /* opacity: 0.7; */
}

.items-padding {
  margin: 0 auto;
  float: none;
  padding-left: 20px;
}

/* text overlay and hovering */
.contents#caption {
  position: relative;
}

.contents#caption .text {
  position: absolute;
  top: 90%;
  /* top: 80%; */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
  transition: all 0.8s ease;
}

.contents#caption .text h3 {
  padding: 14px;
  /* color: #66b2b2; */
  background-color: white;
  text-align:center;
  opacity: 1;
  font-size: large;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.contents#caption .text p {
  padding: 14px;
  color: black;
  /* #66b2b2 */
  background-color: white;
  opacity: 1;
  font-size: small;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}



.contents#caption:hover .text {
  opacity: 1;
}

.contents#caption:hover img {
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
}

/* Create three equal columns that sits next to each other */
/* This is old */
.column {
  -ms-flex: 25%;
  /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  filter: opacity(100%);
}

/* Headers */
.fancy-header {
  /* background-image: url('teal.jpg'); */
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 2;
}

.text-header h1 {
  text-align: left;
  background: transparent;
  color: black;
  font-size: 9.5vh;
  position: relative;
  padding-left: 0.7em;
}

.social-header {
  text-align: right;
  top: 52%;
  left: 20%;

  position: absolute;
  /* margin-left: 5em;
  margin-right: 5em; */

  /* padding-left: 0.7em;
  padding-top: 0.9em; */

}

.icons {
  font-size: 28px;
  color: #66b2b2;
  margin-bottom: 1em;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 0.5em;
}

.icons:hover {
  color: #f49e89;
}

.fancy-header-article {
  /* background-color: url('../teal.jpg'); */
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.text-article h1 {
  text-align: left;
  background: transparent;
  color: black;
  font-size: 3em;
  position: relative;
  padding-left: 0.7em;
}

.text-article-white h1 {
  text-align: left;
  background: transparent;
  color: white;
  font-size: 3em;
  position: relative;
  padding-left: 0.7em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* p.about {
    margin: 30px 150px 30px;
    /* text-align: center; */
}

*/ .section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Backgrounds */
.background-teal {
  background-image: url('teal.jpg');
  background-size: cover;
  opacity: 0.9;
}

/* Hovering */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.8em
}

.content {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  /* background: rgba(0,0,0,0.7); */
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 10;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

/* .content:hover .content-overlay{
  opacity: 0.5;
} */
.content-image {
  width: 100%;
  white-space: nowrap;
}

/* Nav bar */
/* .navbar-nav>li {
  float: none;
  position: relative;
  text-align: center;
}

.navbar-light .navbar-nav .active a::after {
  border-bottom: 5px solid #355764;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
} */


@media screen and (max-width: 970px) and (-webkit-min-device-pixel-ratio: 2) {
  .icons {
      font-size: 18px;
      color: #66b2b2;
      margin-bottom: 1em;
      margin-right: 15px;
      cursor: pointer;
      transition: 0.4s;
      margin-top: 0.5em;
  }

  .fancy-header {
    padding-top: 1em;
    /* padding-bottom: 1em; */
    /* margin: 1; */
  }

  .text-header h1 {
    text-align: left;
    background: transparent;
    color: black;
    font-size: 3em;
    position: relative;
    padding-left: 0.7em;
  }
  .items-grid {
    width: 175px;
    margin: 5px;
    /* float: left; */
  }
}

@media screen and (max-width: 728px) and (-webkit-min-device-pixel-ratio: 2) {
  .text-header h1 {
    text-align: center;
    background: transparent;
    color: black;
    font-size: 3.2em;
    position: relative;
  }

  .social-header {
    text-align:center;
  }
}

@media screen and (max-width: 422px) and (-webkit-min-device-pixel-ratio: 2) {

  .text-header h1 {
    text-align: center;
    background: transparent;
    color: black;
    font-size: 8vh;
    padding-left: 0px;
  }

  .items-grid {
    width: 100%;
    margin: 3px;
    padding: 5px;

  }
  .social-header {
    text-align: center;
    left: 30%;
    position: absolute;
  }
  .icons {
    font-size: 25;
    text-align: center;
    align-items:center;
    align-content: center;
  }
  .items-padding {
      margin: 0 auto;
      float: none;
      padding-left: 0px;

  }
}
body {
  background-color: white;
  font-family: "ff-tisa-web-pro",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  /* padding: 1em; */
}

.navbar {
  overflow: hidden;
  background-color: #E6F4F1;
  margin-bottom:0.5em;
}

.navbar#navbar_blue {
  height: 3.8em;
  width: 100%;
}

.navbar-links {
  padding: 3px;
  margin: 20px;
  margin-bottom: 1em;

  word-spacing: 5px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 16px;
}

.active {
  color: black;
  border-bottom: 5px solid #355764;
}

.navbar .icon {
  display: none;
}

/* Footer  */
.footer {
  background: #A7AABC;
}

.footer p {
  margin-bottom: 3px;
}

.footer .container {
  padding: 20px 0;
}

.about .container {
  padding: 30px 0;
}

.dawgs {
  font-family: 'Black Han Sans', sans-serif;
}

/* TOOLTIPS */
div#tooltip {
  position: absolute;
  font-size: 10px;
  padding: 9px;
  color: black;
  background-color: rgba(200, 247, 234, 0.8) visibility: hidden;
  /* is changed on action */
  border-radius: 1px;
  pointer-events: none;
  z-index: 1;
}

div#tooltip-b {
  position: absolute;
  font-size: 0.6em;
  padding: 0.8em;
  color: white;
  background-color: #929daf;
  visibility: hidden;
  /* is changed on action */
  border-radius: 1em;
  pointer-events: none;
  z-index: 1;
}
